Apps/ReductionServer/Milliman.Reduction.Application/Service References/SchedulerService/SchedulerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22335/SchedulerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:22335/SchedulerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Milliman.Reduction.SchedulerEngine" />
  <xs:element name="AddContinuous">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContinuousResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="timespan" type="q1:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIntervalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Milliman.Reduction.SchedulerEngine" minOccurs="0" name="weekdays" type="q2:EnumWeekDays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWeeklyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonthly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Milliman.Reduction.SchedulerEngine" minOccurs="0" name="months" type="q3:EnumMonths" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Milliman.Reduction.SchedulerEngine" minOccurs="0" name="monthdays" type="q4:EnumMonthDays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonthlyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>