WebApps/MillFrame/MillimanServices/MillimanServiceWEBTestHarness/Web References/MillimanServices/Administration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://prm.milliman.com/services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://prm.milliman.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://prm.milliman.com/services/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetLastError">
        <s:complexType />
      </s:element>
      <s:element name="GetLastErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SystemCredentials" type="tns:SystemCredentials" />
      <s:complexType name="SystemCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ClientAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Enable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientStatus" type="tns:StatusEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="StatusEnum">
        <s:restriction base="s:string">
          <s:enumeration value="ENABLED" />
          <s:enumeration value="DISABLED" />
          <s:enumeration value="ALL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsResult" type="tns:ArrayOfClientID_NameMap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientID_NameMap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClientID_NameMap" nillable="true" type="tns:ClientID_NameMap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientID_NameMap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProviderIDs" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="Enable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserProviders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProviderIDs" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyUserProvidersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserReportAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserReportAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserReportAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisableUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="UserStatus" type="tns:StatusEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfMillimanUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMillimanUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MillimanUser" nillable="true" type="tns:MillimanUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MillimanUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Reports" type="tns:ArrayOfReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Report">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderIDs" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserResult" type="tns:MillimanUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidReportIDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidReportIDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValidReportIDsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastErrorSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastError" />
  </wsdl:message>
  <wsdl:message name="GetLastErrorSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastErrorResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastErrorSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="ClientAccessSoapIn">
    <wsdl:part name="parameters" element="tns:ClientAccess" />
  </wsdl:message>
  <wsdl:message name="ClientAccessSoapOut">
    <wsdl:part name="parameters" element="tns:ClientAccessResponse" />
  </wsdl:message>
  <wsdl:message name="ClientAccessSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="GetClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="ModifyUserProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUserProviders" />
  </wsdl:message>
  <wsdl:message name="ModifyUserProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUserProvidersSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="RemoveUserReportAccessSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserReportAccess" />
  </wsdl:message>
  <wsdl:message name="RemoveUserReportAccessSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserReportAccessResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserReportAccessSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapIn">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapOut">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="DisableUserSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="FindUserSoapIn">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="FindUserSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="PingSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:message name="GetValidReportIDsSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidReportIDs" />
  </wsdl:message>
  <wsdl:message name="GetValidReportIDsSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidReportIDsResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidReportIDsSystemCredentials">
    <wsdl:part name="SystemCredentials" element="tns:SystemCredentials" />
  </wsdl:message>
  <wsdl:portType name="AdministrationSoap">
    <wsdl:operation name="GetLastError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get an error message for the last error encountered.</wsdl:documentation>
      <wsdl:input message="tns:GetLastErrorSoapIn" />
      <wsdl:output message="tns:GetLastErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enable/disable client users access to reports</wsdl:documentation>
      <wsdl:input message="tns:ClientAccessSoapIn" />
      <wsdl:output message="tns:ClientAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a list of all clients that meet the specified criteria</wsdl:documentation>
      <wsdl:input message="tns:GetClientsSoapIn" />
      <wsdl:output message="tns:GetClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows a user to be added for a client, specific report and specific provider ids</wsdl:documentation>
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUserProviders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows a users providers ids to be changed associated with a report</wsdl:documentation>
      <wsdl:input message="tns:ModifyUserProvidersSoapIn" />
      <wsdl:output message="tns:ModifyUserProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserReportAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove a user's access to a report</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserReportAccessSoapIn" />
      <wsdl:output message="tns:RemoveUserReportAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disable the user's account</wsdl:documentation>
      <wsdl:input message="tns:DisableUserSoapIn" />
      <wsdl:output message="tns:DisableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete the user's account</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all users for clients that match the criteria specified</wsdl:documentation>
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find the user based on User ID</wsdl:documentation>
      <wsdl:input message="tns:FindUserSoapIn" />
      <wsdl:output message="tns:FindUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check the Milliman servers accessability</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidReportIDs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all report identifiers available for a client</wsdl:documentation>
      <wsdl:input message="tns:GetValidReportIDsSoapIn" />
      <wsdl:output message="tns:GetValidReportIDsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdministrationSoap" type="tns:AdministrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastError">
      <soap:operation soapAction="http://prm.milliman.com/services/GetLastError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLastErrorSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAccess">
      <soap:operation soapAction="http://prm.milliman.com/services/ClientAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClientAccessSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://prm.milliman.com/services/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetClientsSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://prm.milliman.com/services/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserProviders">
      <soap:operation soapAction="http://prm.milliman.com/services/ModifyUserProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyUserProvidersSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserReportAccess">
      <soap:operation soapAction="http://prm.milliman.com/services/RemoveUserReportAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveUserReportAccessSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://prm.milliman.com/services/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DisableUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://prm.milliman.com/services/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://prm.milliman.com/services/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://prm.milliman.com/services/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://prm.milliman.com/services/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PingSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidReportIDs">
      <soap:operation soapAction="http://prm.milliman.com/services/GetValidReportIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetValidReportIDsSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdministrationSoap12" type="tns:AdministrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastError">
      <soap12:operation soapAction="http://prm.milliman.com/services/GetLastError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLastErrorSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAccess">
      <soap12:operation soapAction="http://prm.milliman.com/services/ClientAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClientAccessSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://prm.milliman.com/services/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetClientsSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://prm.milliman.com/services/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserProviders">
      <soap12:operation soapAction="http://prm.milliman.com/services/ModifyUserProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyUserProvidersSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserReportAccess">
      <soap12:operation soapAction="http://prm.milliman.com/services/RemoveUserReportAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveUserReportAccessSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap12:operation soapAction="http://prm.milliman.com/services/DisableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DisableUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://prm.milliman.com/services/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://prm.milliman.com/services/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap12:operation soapAction="http://prm.milliman.com/services/FindUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://prm.milliman.com/services/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PingSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidReportIDs">
      <soap12:operation soapAction="http://prm.milliman.com/services/GetValidReportIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetValidReportIDsSystemCredentials" part="SystemCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Administration">
    <wsdl:port name="AdministrationSoap" binding="tns:AdministrationSoap">
      <soap:address location="http://localhost:2233/Administration.asmx" />
    </wsdl:port>
    <wsdl:port name="AdministrationSoap12" binding="tns:AdministrationSoap12">
      <soap12:address location="http://localhost:2233/Administration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>