Apps/Cdr/WoahRawDataTransfer/NbmcUnity/NbmcUnityQueryLib/Service References/AllscriptsUnity/Unity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.allscripts.com/Unity" elementFormDefault="qualified" targetNamespace="http://www.allscripts.com/Unity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" />
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="StatusResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecurityTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="originalToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidSecurityTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="ti" nillable="true" type="q2:GetTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetValidSecurityTokenPostResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenJsonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="ti" nillable="true" type="q4:GetTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenJsonPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="GetTokenJsonPostResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Magic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Appname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MagicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MagicResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="o" nillable="true" type="q6:MagicInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="ReturnMagicJSONResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="o" nillable="true" type="q8:MagicInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="ReturnMagicJsonResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="ri" nillable="true" type="q10:RetireTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireTokenPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Allscripts.Unity.Services.ObjectDeclarations.Unity" minOccurs="0" name="ri" nillable="true" type="q11:RetireTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireTokenPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Appname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>