Apps/ReductionServer/Milliman.Reduction.SchedulerSender/Service References/Reduction/ReductionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReductionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Milliman.Reduction.ReductionHost/ServiceHost/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Milliman.Reduction.ReductionHost/ServiceHost/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReductionService_EnqueueReductionFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueReductionFolder" />
  </wsdl:message>
  <wsdl:message name="IReductionService_EnqueueReductionFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueReductionFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IReductionService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IReductionService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:portType name="IReductionService">
    <wsdl:operation name="EnqueueReductionFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IReductionService/EnqueueReductionFolder" message="tns:IReductionService_EnqueueReductionFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReductionService/EnqueueReductionFolderResponse" message="tns:IReductionService_EnqueueReductionFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IReductionService/Init" message="tns:IReductionService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReductionService/InitResponse" message="tns:IReductionService_Init_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReductionService" type="tns:IReductionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnqueueReductionFolder">
      <soap:operation soapAction="http://tempuri.org/IReductionService/EnqueueReductionFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IReductionService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReductionService">
    <wsdl:port name="BasicHttpBinding_IReductionService" binding="tns:BasicHttpBinding_IReductionService">
      <soap:address location="http://localhost:8733/Milliman.Reduction.ReductionHost/ServiceHost/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>